.dialogContent {
  padding: 16px;
  /* background-color: #1a1d1f; */
}

.dialogActions {
  padding: 8px;
}

.dialogTitle {
  margin: 0;
  padding: 16px;
  background-color: #1c1a29;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeIcon {
  color: #9e9e9e;
}

.dialogTypography {
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogText {
  font-size: 15px;
}

.dialogActionsButton {
  font-size: 14px;
}
