.dragPreview {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  user-select: none;
}

.previewCard {
  border-radius: 16px;
  width: max-content;
  overflow: visible;
  position: relative;
  transform: translate(-50%);
}

.componentInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 12px;
  border: 1px solid #1aaf74;
}

.componentText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px;
  margin-top: 30px;
  border-radius: 8px;
  width: max-content;
  max-width: 224px;
}
