.layout-content :global(.flexlayout__tab_button_content) {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #efefef;
}

.layout-content :global(.flexlayout__layout) {
  --color-splitter: transparent;
  --color-splitter-hover: #121212;
  --color-tabset-background-maximized: #1a1d1f;
  --color-tab-unselected-background: #111315;
  --color-tab-unselected: #efefef;
  --color-tabset-background: #1a1d1f;
  --color-tabset-background-selected: #1a1d1f;
  --color-background: #1a1d1f;
  --color-tab-selected-background: #272b30;
  --color-popup-unselected-background: #111315;
  --color-text: unset;
}

.layout-content :global(.flexlayout__layout .flexlayout__tabset) {
  border-radius: 12px;
}

.layout-content :global(.flexlayout__popup_menu_container) {
  border: none;
  border-radius: 12px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
}

.layout-content :global(.flexlayout__popup_menu) {
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.layout-content :global(.flexlayout__popup_menu_item) {
  border-radius: 12px;
}

.layout-content :global(.flexlayout__layout .flexlayout__edge_rect) {
  visibility: hidden;
}

.layout-content :global(.flexlayout__tab_button_top) {
  border-radius: 8px;
}

.dynamic-dashboard-container {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.dynamic-dashboard-tabs-container {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.layout-tabs {
  display: flex;
  gap: 4px;
  align-items: center;
}

.dynamic-dashboard-tabs {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 3px 8px;
  border-radius: 4px;
  background-color: #3d3950;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  font-size: 13px;
}

.dynamic-dashboard-tabs:hover {
  color: #fff;
  font-size: 13px;
}

.dynamic-dashboard-tabs-active {
  color: #fff;
  font-size: 13px;
}

.dynamic-dashboard-tabs-name {
  color: #c1c1c1;
  font-size: 13px;
}

.dynamic-dashboard-tabs .close-icon {
  font-size: 14px;
  color: #c1c1c1;
  cursor: pointer;
  margin-left: 4px;
}

.close-icon:hover {
  color: #fff;
}

.btn-add-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d3950;
  border-radius: 4px;
  cursor: pointer;
  width: 32px;
  height: 26px;
  color: #c1c1c1;
}

.layout-content {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.widget-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.popper-container {
  padding: 8px 0px;
  background-color: #1c1a29;
}

.widget-item {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
  font-size: 13px;
}

.search-box {
  padding: 8px 16px;
}

.tabname-node .tabnode-close-icon {
  font-size: 16px;
  color: #c1c1c1;
  cursor: pointer;
}

.tabname-node .tabnode-maximize-icon:hover {
  background-color: #e5e5e5;
}

.btn-add-tab .layout-tabs-btn {
  font-size: 15px;
}

.popper-widget-layout {
  z-index: 9999;
}

.divider {
  background-color: #333;
}

.widget-item-title {
  background-color: #3d3950;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding: 8px 10px;
}

.widget-item-button {
  color: #fff;
  padding: 4px;
  &:hover {
    background-color: #3d3950;
  }
}

.widget-item-text {
  padding-left: 6px;
}

.tabname-node {
  font-size: 18px;
  box-shadow: none !important;
  padding: 11px 12px 11px 12px !important;
  justify-content: space-between;
}

.tabname-node:global(.flexlayout__tab_button_stretch) {
  padding: 11px 0px 11px 0px !important;
  flex-direction: row-reverse;
}

.tabname-node:global(.flexlayout__tab_button) {
  border-radius: 8px !important;
  padding: 6px 8px !important;
  gap: 8px !important;
}

.tabname-node:global(.flexlayout__tab_button .flexlayout__tab_button_content) {
  font-size: 16px;
  order: 2;
}

.tabname-node:global(.flexlayout__tab_button .flexlayout__tab_button_leading) {
  order: 1;
}

.tabname-node:global(.flexlayout__tab_button .flexlayout__tab_button_trailing) {
  order: 3;
}

.tab-strip
  :global(
    .flexlayout__tabset_tabbar_inner
      .flexlayout__tabset_tabbar_inner_tab_container_top
  ) {
  padding: 8px 12px 0px 12px;
}

.tab-strip :global(.flexlayout__tab_toolbar) {
  padding-left: 0px;
  padding-right: 12px;
}

.tabname-node :global(.flexlayout__tab_button_trailing) {
  visibility: visible;
}

.tabnode-wrapper {
  padding: 12px;
  height: 100%;
}

.tab-content {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.tab-content::-webkit-scrollbar {
  width: 8px;
}

.tab-content::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
}

.tab-content:hover::-webkit-scrollbar {
  width: 8px !important;
}

.tab-content:hover::-webkit-scrollbar-track {
  background: transparent;
}

.tab-content:hover::-webkit-scrollbar-thumb {
  background-color: rgba(17, 19, 21, 0.3);
  border: 1px solid rgba(77, 81, 88, 1);
  border-radius: 100px;
}

.wrap-template-tab {
  padding: 8px;
  background-color: #3d3950;
  cursor: pointer;
}

.wrap-template-media {
  height: 100px;
  background-color: #1c1a29;
}

.wrap-template-icon {
  height: 100px;
  background-color: #1c1a29;
  display: flex;
  justify-content: center;
  align-items: center;
}

.template-title {
  margin-top: 8px;
  color: #fff;
}

.add-tab-icon {
  font-size: 26px;
  color: #c1c1c1;
}

.layout-content :global(.flexlayout__outline_rect) {
  border: 1px dashed #858b93;
  border-radius: 12px;
  background-color: #1aaf74;
  opacity: 0.4;
}

.tab-strip {
  background-image: none !important;
  border: none !important;
  /* border-top-left-radius: 12px;
  border-top-right-radius: 12px; */
}

.tab-strip :global(.flexlayout__tab_toolbar button svg) {
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
}

.tab-strip :global(.flexlayout__tab_toolbar) {
  gap: 10px;
}

.layout-content :global(.flexlayout__drag_rect) {
  opacity: 0 !important;
}

.popperContainer {
  border-radius: 12px;
  width: 320px;
  overflow: hidden;
  padding: 0px;
  border: 1px solid #1aaf74;
}

.popperHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px 20px 16px;
}

.closeIcon {
  color: #858b93;
  cursor: pointer;
  font-size: 20px !important;
}

.scrollWrapper {
  position: relative;
  overflow: hidden;
  padding: 0 12px 12px 0;
}

.popperItemContainer,
.popperItemContainerLight {
  height: 100%;
  overflow-y: auto;
  padding: 0px 0px 0px 16px !important;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sectionWrapper {
  width: calc(100% - 4px);
  border-radius: 12px;
}

.sectionHeader {
  padding: 12px !important;
  border-radius: 12px !important;
}

.sectionHeader:hover {
  background-color: transparent !important;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
}

.sectionTitleLeft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.countBadge {
  background-color: #1aaf74;
  color: #fff;
  padding: 1px 4px;
  border-radius: 20px;
  font-size: 12px;
  min-width: 28px;
  text-align: center;
}

.collapseList {
  padding: 0px 12px 12px 12px !important;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.widgetItemButton {
  padding: 8px 16px 8px 32px !important;
  color: #fff !important;
  border-radius: 12px !important;
}

.widgetItemText {
  margin: 0 !important;
}

.widgetItemText span {
  font-size: 12px !important;
  font-weight: 500 !important;
}

.popperItemContainer::-webkit-scrollbar {
  width: 8px;
}

.popperItemContainer::-webkit-scrollbar-track {
  background: transparent;
}

.popperItemContainer::-webkit-scrollbar-thumb {
  background-color: rgba(17, 19, 21, 0.3);
  border-radius: 100px;
  border: 1px solid #33383f;
}

.popperItemContainerLight::-webkit-scrollbar {
  width: 8px;
}

.popperItemContainerLight::-webkit-scrollbar-track {
  background: transparent;
}

.popperItemContainerLight::-webkit-scrollbar-thumb {
  background-color: rgba(17, 19, 21, 0.3);
  border-radius: 100px;
  border: 1px solid #33383f;
}

.popperItemContainerLight::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #c7c7c7;
}

.hasScrollbar {
  padding: 0 4px 12px 0 !important;
}

.widgetItemDisabled {
  pointer-events: none;
  opacity: 0.5;
}

.linkPopperWrapper {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #1aaf74;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.linkPopperWrapper img:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

/* light mode */
.layout-content-light :global(.flexlayout__layout) {
  --color-splitter: transparent;
  --color-splitter-hover: transparent;
  --color-tabset-background-maximized: #fff;
  --color-tab-unselected-background: #e6e6e6;
  --color-tab-unselected: #efefef;
  --color-tabset-background: #fff;
  --color-tabset-background-selected: #fff;
  --color-background: #fff;
  --color-splitter-drag: #efefef;
  --color-tab-selected-background: #efefef;
  --color-4: #e2e2e2;
  --color-6: #dddddd;
  --color-popup-unselected-background: #efefef;
  --color-text: unset;
}

.layout-content-light :global(.flexlayout__layout .flexlayout__tabset) {
  border-radius: 12px;
}

.layout-content-light :global(.flexlayout__tab_button_content) {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #1a1d1f;
}

.layout-content-light :global(.flexlayout__drag_rect) {
  opacity: 0 !important;
}

.layout-content-light :global(.flexlayout__outline_rect) {
  border: 1px dashed #858b93;
  border-radius: 12px;
  background-color: #1aaf74;
  opacity: 0.4;
}

.layout-content-light {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.tab-strip :global(.flexlayout__tab_toolbar_button) {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.layout-content .tab-strip :global(.flexlayout__tab_toolbar_button:hover) {
  background-color: transparent;
  cursor: pointer;
}

.layout-content-light
  .tab-strip
  :global(.flexlayout__tab_toolbar_button:hover) {
  background-color: transparent;
  cursor: pointer;
}

.layout-content-light .tab-content:hover::-webkit-scrollbar-thumb {
  background-color: rgba(244, 244, 244, 0.6);
  border: 1px solid rgba(199, 199, 199, 1);
  border-radius: 100px;
}
