* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope Variable", sans-serif;
}

body {
  font-family: "Manrope Variable", sans-serif;
  overflow: hidden;
  position: relative;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "Manrope Variable", sans-serif;
  }
}

.layout-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100vh; */
}

.ag-root-wrapper,
.ag-root-wrapper * {
  transition: background-color 0.02s !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: rgb(244 244 244 / 60%); */
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(244, 244, 244, 0.6);
  border-radius: 100px;
  border: 1px solid rgba(199, 199, 199, 1);
}

/* Corner - góc giao nhau giữa scrollbar ngang và dọc */
::-webkit-scrollbar-corner {
  background: transparent;
}

/* chặn sự kiện autofill của trình duyệt */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 5000s ease-in-out 0s !important;
  border-radius: 0 !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    /* background: rgb(17 19 21 / 30%); */
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(17, 19, 21, 0.3);
    border: 1px solid rgba(77, 81, 88, 1);
  }

  /* Corner trong dark mode */
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

/* Dark theme khi user chọn manual */
.dark,
html[data-theme="dark"] {
  color-scheme: dark;
}

.dark ::-webkit-scrollbar-track,
html[data-theme="dark"] ::-webkit-scrollbar-track {
}

.dark ::-webkit-scrollbar-thumb,
html[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background: rgba(17, 19, 21, 0.3);
  border: 1px solid rgba(77, 81, 88, 1);
}

.dark ::-webkit-scrollbar-corner,
html[data-theme="dark"] ::-webkit-scrollbar-corner {
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input::placeholder {
  font-family: inherit;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.ant-picker-dropdown {
  z-index: 1100 !important;
}

@media screen and (max-width: 1280px) {
  body {
    /* min-width: 1400px; */
  }
}

input {
  font-family: "Manrope Variable", sans-serif !important;
}

input::placeholder {
  font-family: "Manrope Variable", sans-serif !important;
  font-weight: 500 !important;
}
