:global(.MuiDialog-paper).welcomePaper {
  max-width: 680px;
  width: 680px;
  border-radius: 12px;
  box-shadow: none;
}

.switchContainer {
  position: relative;
  width: 312px;
  height: 45px;
  cursor: pointer;
}

.track {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: #e9e9ea;
  position: relative;
}

.thumb {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 148px;
  height: 37px;
  border-radius: 100px;
  background-color: #fff;
  transition: transform 300ms;
}

.labelLight {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: #858b93;
  font-size: 14px;
}

.labelDark {
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: #858b93;
  font-size: 14px;
}

/* Checked state */
.checked .thumb {
  transform: translateX(156px);
  background-color: #858b93;
}

.checked .track {
  background-color: #6f767e1a;
}

.checked .labelDark {
  color: #fff;
}

/* Dialog styles */
.dialogTitle {
  background-color: #fff;
  padding: 40px 40px 0px 40px;
  font-size: 16px;
  font-weight: 600;
}

.dialogTitleDark {
  background-color: #212427;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 20px;
}

.headerDark {
  background-color: #212427;
}

.headerTitle {
  color: #0066b3;
}

.headerGreeting {
  color: #1a1d1f;
}

.headerGreetingDark {
  color: #efefef;
}

.dialogContent {
  background-color: #fff;
  padding: 0;
  overflow-x: hidden;
}

.dialogContentDark {
  background-color: #212427;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 24px 20px 0px 20px;
}

.titleSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mainTitle {
  color: #33383f;
}

.mainTitleDark {
  color: #c7c7c7;
}

.subtitle {
  color: #858b93;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.themeSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.gradientText {
  background: linear-gradient(90deg, #309980 0%, #1aaf74 55%, #56a0f4 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradientTextDark {
  background: linear-gradient(90deg, #c119c1 0%, #6890ff 55%, #ff6c10 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradientTextGrey {
  background: linear-gradient(90deg, #5b5555 0%, #756c6c 55%, #6f767e 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.greenText {
  background: #1aaf74;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.spacer {
  width: 145px;
}

.iconPackContainer {
  display: flex;
  margin-bottom: 94px;
  margin-top: 23px;
  position: relative;
  height: 180px;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.iconOption {
  width: 120px;
  height: 120px;
  position: absolute;
  transition:
    all 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    border 0s;
  cursor: pointer;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconOption img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.iconLeft {
  left: -50%;
  transform: translateX(-50%) scale(0.8);
  z-index: 1;
}

.iconCenter {
  left: 50%;
  transform: translateX(-50%) scale(1.11);
  z-index: 2;
}

.iconRight {
  left: 150%;
  transform: translateX(-50%) scale(0.8);
  z-index: 1;
}

.selectedIconPinkLight {
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, #bc55ff 0%, #c995ea 55%, #a63eea 82%) border-box;
  border: 3px solid transparent;
  border-radius: 30px;
  box-shadow: 0 19.05px 190.48px 0 rgba(228, 130, 244, 0.4);
}

.selectedIconPink {
  background:
    linear-gradient(#212427, #212427) padding-box,
    linear-gradient(45deg, #bc55ff 0%, #c995ea 55%, #a63eea 82%) border-box;
  border: 3px solid transparent;
  border-radius: 30px;
  box-shadow: 0 19.05px 190.48px 0 rgba(228, 130, 244, 0.4);
}

.selectedIconGreenLight {
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(180deg, #28db9b, #31a47b) border-box;
  border: 3px solid transparent;
  border-radius: 30px;
}

.selectedIconGreen {
  background:
    linear-gradient(#212427, #212427) padding-box,
    linear-gradient(180deg, #28db9b, #31a47b) border-box;
  border: 3px solid transparent;
  border-radius: 30px;
}

.selectedIconGreyLight {
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #858b93, #858b93) border-box;
  border: 3px solid transparent;
  border-radius: 30px;
}

.selectedIconGrey {
  background:
    linear-gradient(#212427, #212427) padding-box,
    linear-gradient(90deg, #858b93, #858b93) border-box;
  border: 3px solid transparent;
  border-radius: 30px;
}

@keyframes moveToCenter {
  from {
    transform: translateX(-50%) scale(1);
  }
  to {
    transform: translateX(-50%) scale(1.67);
  }
}

@keyframes moveToSide {
  from {
    transform: translateX(-50%) scale(1.67);
  }
  to {
    transform: translateX(-50%) scale(1);
  }
}

.iconOption {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.iconCenter {
  animation-name: moveToCenter;
}

.iconLeft,
.iconRight {
  animation-name: moveToSide;
}

/** Loading Screen **/
.contentWrapperLoading {
  display: flex;
  flex-direction: column;
  gap: 84px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 74px;
}

.titleLoading {
  font-size: 28px;
  font-weight: 600;
  color: #c7c7c7;
}

.titleLoading span {
  color: #22b24c;
}

.listLoading {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.itemLoading {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #858b93;
}

.loadingCheck {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkCircle {
  padding: 6px;
}

.gearWrapper {
  position: relative;
  width: 220px;
  height: 240px;
}

.animationGear1 {
  position: absolute;
  top: 73px;
  left: 54px;
  animation: rotate 4s linear infinite;
}

.animationGear2 {
  position: absolute;
  top: 177px;
  left: 0px;
  animation: rotate 4s linear infinite;
}

.animationGear3 {
  position: absolute;
  top: 0px;
  left: 42px;
  animation: rotate 4s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layoutOption {
  position: absolute;
  transition:
    all 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    border 0s;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.selectedLayoutClassicLight {
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #1aaf74, #1aaf74) border-box;
  border: 2px solid transparent;
  border-radius: 12px;
}

.selectedLayoutClassic {
  background:
    linear-gradient(#212427, #212427) padding-box,
    linear-gradient(90deg, #1aaf74, #1aaf74) border-box;
  border: 2px solid transparent;
  border-radius: 12px;
}

.selectedLayoutProfessionalLight {
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #309980 0%, #1aaf74 55%, #56a0f4 82%) border-box;
  border: 2px solid transparent;
  border-radius: 12px;
}

.selectedLayoutProfessional {
  background:
    linear-gradient(#212427, #212427) padding-box,
    linear-gradient(90deg, #309980 0%, #1aaf74 55%, #56a0f4 82%) border-box;
  border: 2px solid transparent;
  border-radius: 12px;
}

.selectedLayoutPersonalLight {
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #c119c1 0%, #6890ff 55%, #ff6c10 82%) border-box;
  border: 2px solid transparent;
  border-radius: 12px;
}

.selectedLayoutPersonal {
  background:
    linear-gradient(#212427, #212427) padding-box,
    linear-gradient(90deg, #c119c1 0%, #6890ff 55%, #ff6c10 82%) border-box;
  border: 2px solid transparent;
  border-radius: 12px;
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
